<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/bootstrap.html}">
<head>
  <title>Foods!</title>
</head>
<th:block layout:fragment="style">
  <style>
      .row > * {
          padding-left: 0 !important;
          padding-right: 0 !important;
      }
  </style>
</th:block>
<div layout:fragment="content" class="container">
  <div class="jumbotron display-1 text-center py-4">
    Foods!
  </div>
  <form action="/food" method="GET">
    <div class="card my-2">
      <div class="card-header">Search</div>
      <div class="card-body">
        <div class="form-floating mb-3">
          <input class="form-control" id="searchName" name="searchName" type="text" placeholder="Name" th:value="${requestDTO.getSearchName()}">
          <label for="searchName">Name</label>
        </div>
        <div class="container">
          <div>Price</div>
          <div class="row mb-3">
            <div class="col">
              <div class="form-floating">
                <input class="form-control" id="minPrice" name="minPrice" type="number" placeholder="minPrice" th:value="${requestDTO.getMinPrice()}">
                <label for="minPrice">Min</label>
              </div>
            </div>
            <div class="col">
              <div class="form-floating">
                <input class="form-control" id="maxPrice" name="maxPrice" type="number" placeholder="maxPrice" th:value="${requestDTO.getMaxPrice()}">
                <label for="maxPrice">Max</label>
              </div>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col">
              <div class="form-floating">
                <input class="form-control" id="minRate" name="minRate" type="number" min="1" max="5" step="1"
                       placeholder="minRate" th:value="${requestDTO.getMinRate()}">
                <label for="minRate">Minimum Average Rating</label>
              </div>
            </div>
            <div class="col">
              <div class="form-floating">
                <input class="form-control" id="until" name="until" type="datetime-local" placeholder="Until" th:value="${requestDTO.getUntil()}">
                <label for="until">Until</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="row justify-content-end">
          <div class="col-auto ">
            <input class="btn btn-primary" type="submit" value="Search">
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="row my-4">
    <div th:each="food : ${responseDTO.getDtoList()}" class="card col-3">
      <div class="card-body">
        <div class="card-title">
          <a th:href="@{'/food/view/' + ${food.getId()} + ${requestDTO.useQuery()}}">
            <span class="h4 mb-2" th:text="${food.getName()}"></span>
          </a>
          <span th:if="${food.getAvgRate() != null}">
            <i class="bi bi-star-fill" style="color: #ffc614"></i>
            <span style="color: #ffc614" th:text="${#numbers.formatDecimal(food.getAvgRate(), 1, 1)}"></span>
            <span class="text-body-secondary">
              <small th:text="${'(' + food.getReviewCount() + ')'}"></small>
            </span>
          </span>
        </div>
        <h5 class="card-subtitle mb-2 text-body-secondary">[[${food.getPrice()}]]원</h5>
        <p class="card-text" th:text="${food.getDescription()}"></p>
      </div>
      <div class="list-group list-group-flush bg-body-tertiary">
        <div class="list-group-item">
          재고 : <span th:text="${food.getStock()}"></span> 개
        </div>
        <div class="list-group-item">
          판매기한 : <span th:text="${#temporals.format(food.getClose(), 'yyyy-MM-dd HH:mm')}"></span> 까지
        </div>
        <div class="list-group-item">
          게시자 : <span th:text="${food.getRegistrar()}"></span>
        </div>
      </div>

    </div>
  </div>
  <nav>
    <ul class="pagination justify-content-center">
      <th:block th:if="${responseDTO.start > 1}">
        <li class="page-item">
          <a class="page-link" th:href="@{'/food' + ${requestDTO.useQuery(1)}}">
            1
          </a>
        </li>
        <li class="page-item disabled">
          <a class="page-link">
            &ctdot;
          </a>
        </li>
      </th:block>
      <th:block th:each="pgIndex: ${#numbers.sequence(responseDTO.start, responseDTO.end)}">
        <li class="page-item" th:classappend="${responseDTO.page == pgIndex}? 'active'">
          <a class="page-link" th:href="@{'/food' + ${requestDTO.useQuery(pgIndex)}}" th:text="${pgIndex}"></a>
        </li>
      </th:block>
      <th:block th:if="${responseDTO.end < responseDTO.last}">
        <li class="page-item disabled">
          <a class="page-link">
            &ctdot;
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" th:href="@{'/food' + ${requestDTO.useQuery(responseDTO.last)}}">
            [[${responseDTO.last}]]
          </a>
        </li>
      </th:block>
    </ul>
  </nav>
  <div class="py-3" style="align-content: center;">
    <a class="btn btn-primary" th:href="@{'/food/register'}" role="button">Register!</a>
  </div>
</div>
<th:block layout:fragment="script">
  <script th:src="@{/js/paginator.js}"></script>
</th:block>